/* шрифт Trebuchet MS является платным, так что шрифт оставил системным */

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	padding: 20px;
}

.block {
	width: 361px;
	height: 124px;
	background-color: #9ed737;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url(/img/background.jpg);
	background-image: url(img/background.jpg);
	padding-left: 24px;
	padding-top: 11px;
	padding-bottom: 10px;
}

.block__btns {
	display: flex;
	justify-content: center;
}

.points {
	margin-left: 10px;
	width: 64px;
	height: 33px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75),
		inset 0 0 5px rgba(0, 0, 0, 0.75);
	border-radius: 10px 9px 9px 10px;
	border: 3px solid #fff;
	background-color: #555;
	padding-right: 8px;
	text-align: right;
	position: relative;
}

.points:before {
	content: '';
	position: absolute;
	width: 33px;
	height: 36px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(img/star.png);
	top: -5px;
	left: -16px;
}

.points__number {
	color: #fff;
	font-size: 1.375rem;
	font-weight: 700;
	font-style: italic;
}

.btn {
	width: 54px;
	height: 54px;
	position: relative;
	cursor: pointer;
	transition: all .3s;
	border: none;
	padding: 0;
	background: none;
}

.btn[disabled] {
	cursor: default;
}

.btn:not(:last-child) {
	margin-right: 15px;
}

.btn:not([disabled]):hover {
	transform: scale(1.05);
}

.btn__icon {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.btn__counter {
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	font-size: .875rem;
	line-height: 1em;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn--count .btn__counter {
	display: inline-block;
}

.btn--count .btn__icon {
	opacity: .5;
}
